In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix,precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn.base import BaseEstimator

In [68]:
vote_df=pd.read_csv('PR2_train.csv')
vote_df

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
0,43375,1.0,324,5.0,1067,5.0,359,1.0,709,1.0,...,1,1,1,1,1,0,1,0,1,1
1,4486,1.0,534,5.0,1555,5.0,2024,1.0,1097,1.0,...,1,1,1,1,1,0,1,0,1,1
2,10262,5.0,609,1.0,749,2.0,624,1.0,1833,3.0,...,1,1,0,1,1,0,1,0,1,0
3,14088,4.0,182,1.0,2969,1.0,1955,4.0,4630,1.0,...,0,1,0,1,1,0,1,0,1,1
4,13398,4.0,549,5.0,1679,5.0,481,3.0,595,1.0,...,1,1,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,16511,1.0,312,5.0,965,5.0,499,1.0,1188,1.0,...,1,1,0,1,1,0,1,1,1,1
36421,33507,3.0,474,4.0,1033,5.0,602,2.0,703,1.0,...,1,1,1,1,1,0,1,1,1,1
36422,44917,2.0,617,4.0,1262,2.0,709,1.0,1063,2.0,...,1,1,0,1,1,0,1,1,1,1
36423,36126,5.0,294,1.0,985,1.0,504,3.0,613,5.0,...,1,1,1,1,1,1,1,1,1,1
36424,42340,3.0,1062,1.0,3111,2.0,899,1.0,1876,3.0,...,1,1,1,1,1,1,1,1,1,1

In [69]:
vote_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 78 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       36425 non-null  int64
 1   QaA         36425 non-null  float64
 2   QaE         36425 non-null  int64
 3   QbA         36425 non-null  float64
 4   QbE         36425 non-null  int64
 5   QcA         36425 non-null  float64
 6   QcE         36425 non-null  int64
 7   QdA         36425 non-null  float64
 8   QdE         36425 non-null  int64
 9   QeA         36425 non-null  float64
 10  QeE         36425 non-null  int64
 11  QfA         36425 non-null  float64
 12  QfE         36425 non-null  int64
 13  QgA         36425 non-null  float64
 14  QgE         36425 non-null  int64
 15  QhA         36425 non-null  float64
 16  QhE         36425 non-null  int64
 17  QiA         36425 non-null  float64
 18  QiE         36425 non-null  int64
 19  QjA         36425 non-null  float64
 20  QjE         36425 non-null  int64
 21  QkA         36425 non-null  float64
 22  QkE         36425 non-null  int64
 23  QlA         36425 non-null  float64
 24  QlE         36425 non-null  int64
 25  QmA         36425 non-null  float64
 26  QmE         36425 non-null  int64
 27  QnA         36425 non-null  float64
 28  QnE         36425 non-null  int64
 29  QoA         36425 non-null  float64
 30  QoE         36425 non-null  int64
 31  QpA         36425 non-null  float64
 32  QpE         36425 non-null  int64
 33  QqA         36425 non-null  float64
 34  QqE         36425 non-null  int64
 35  QrA         36425 non-null  float64
 36  QrE         36425 non-null  int64
 37  QsA         36425 non-null  float64
 38  QsE         36425 non-null  int64
 39  QtA         36425 non-null  float64
 40  QtE         36425 non-null  int64
 41  age_group   36425 non-null  object
 42  education   36425 non-null  int64
 43  engnat      36425 non-null  int64
 44  familysize  36425 non-null  int64
 45  gender      36425 non-null  object
 46  hand        36425 non-null  int64
 47  married     36425 non-null  int64
 48  race        36425 non-null  object
 49  religion    36425 non-null  object
 50  tp01        36425 non-null  int64
 51  tp02        36425 non-null  int64
 52  tp03        36425 non-null  int64
 53  tp04        36425 non-null  int64
 54  tp05        36425 non-null  int64
 55  tp06        36425 non-null  int64
 56  tp07        36425 non-null  int64
 57  tp08        36425 non-null  int64
 58  tp09        36425 non-null  int64
 59  tp10        36425 non-null  int64
 60  urban       36425 non-null  int64
 61  voted       36425 non-null  int64
 62  wf_01       36425 non-null  int64
 63  wf_02       36425 non-null  int64
 64  wf_03       36425 non-null  int64
 65  wr_01       36425 non-null  int64
 66  wr_02       36425 non-null  int64
 67  wr_03       36425 non-null  int64
 68  wr_04       36425 non-null  int64
 69  wr_05       36425 non-null  int64
 70  wr_06       36425 non-null  int64
 71  wr_07       36425 non-null  int64
 72  wr_08       36425 non-null  int64
 73  wr_09       36425 non-null  int64
 74  wr_10       36425 non-null  int64
 75  wr_11       36425 non-null  int64
 76  wr_12       36425 non-null  int64
 77  wr_13       36425 non-null  int64
dtypes: float64(20), int64(54), object(4)
memory usage: 21.7+ MB

In [73]:
vote_df.describe()

,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,QeE,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
count,36425.000000,3.642500e+04,36425.000000,3.642500e+04,36425.000000,36425.000000,36425.000000,3.642500e+04,36425.000000,3.642500e+04,...,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000
mean,2.131942,9.392264e+02,2.897598,2.053925e+03,3.661414,1461.583775,1.750748,1.499025e+03,2.320494,1.897114e+03,...,0.868717,0.895072,0.329087,0.938888,0.971613,0.202663,0.945532,0.393988,0.947536,0.926781
std,1.199763,1.372469e+04,1.568342,1.984665e+04,1.431303,8097.443081,1.046655,1.109992e+04,1.370584,1.508537e+04,...,0.337715,0.306465,0.469888,0.239539,0.166078,0.401989,0.226942,0.488639,0.222964,0.260499
min,1.000000,2.500000e+01,1.000000,2.500000e+01,1.000000,25.000000,1.000000,2.600000e+01,1.000000,2.500000e+01,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,4.040000e+02,1.000000,8.760000e+02,2.000000,651.000000,1.000000,6.810000e+02,1.000000,8.360000e+02,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,2.000000,5.570000e+02,3.000000,1.220000e+03,4.000000,900.000000,1.000000,9.330000e+02,2.000000,1.158000e+03,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
75%,3.000000,8.300000e+02,4.000000,1.842000e+03,5.000000,1339.000000,2.000000,1.361000e+03,3.000000,1.662000e+03,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,5.000000,2.413960e+06,5.000000,3.232042e+06,5.000000,871557.000000,5.000000,1.552821e+06,5.000000,1.790548e+06,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

투표 비율을 살펴보겠습니다.

In [71]:
vote_df['voted'].value_counts()

0    19918
1    16507
Name: voted, dtype: int64

균일한 분포임을 확인하였습니다.
voted는 61번째 인덱스 입니다.
인덱스 항을 삭제하겠습니다.

In [91]:
vote_drop_df=vote_df.drop('index',axis=1,inplace=True)

KeyError: "['index'] not found in axis"

In [121]:
myindexlist=[]
for i in range(0,73):
    myindexlist.append(i)
del myindexlist[60]
myindexlist

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72]

In [123]:
vote_result=vote_df['voted']
vote_data=vote_df.iloc[:,myindexlist]
vote_data

,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,QeE,...,wf_03,wr_01,wr_02,wr_03,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09
0,1.0,324,5.0,1067,5.0,359,1.0,709,1.0,742,...,0,1,1,0,1,1,1,1,1,0
1,1.0,534,5.0,1555,5.0,2024,1.0,1097,1.0,3077,...,0,1,1,1,1,1,1,1,1,0
2,5.0,609,1.0,749,2.0,624,1.0,1833,3.0,1474,...,0,0,1,0,1,1,0,1,1,0
3,4.0,182,1.0,2969,1.0,1955,4.0,4630,1.0,1321,...,0,0,1,0,0,1,0,1,1,0
4,4.0,549,5.0,1679,5.0,481,3.0,595,1.0,1202,...,0,1,1,0,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,1.0,312,5.0,965,5.0,499,1.0,1188,1.0,437,...,1,1,1,0,1,1,0,1,1,0
36421,3.0,474,4.0,1033,5.0,602,2.0,703,1.0,782,...,0,1,1,1,1,1,1,1,1,0
36422,2.0,617,4.0,1262,2.0,709,1.0,1063,2.0,1728,...,1,1,1,1,1,1,0,1,1,0
36423,5.0,294,1.0,985,1.0,504,3.0,613,5.0,551,...,0,1,1,1,1,1,1,1,1,1
36424,3.0,1062,1.0,3111,2.0,899,1.0,1876,3.0,852,...,0,1,1,1,1,1,1,1,1,1

데이터에서 투표여부 값과 투표여부를 제외한 데이터를 분리하는데 성공하였습니다.

In [124]:
X_train,X_test,Y_train,Y_test=train_test_split(vote_data, vote_result, test_size=0.2, random_state=0)

In [125]:
print("트레인 데이터 분포 : \n",Y_train.value_counts())
print("\n테스트 데이터 분포 : \n",Y_test.value_counts())

트레인 데이터 분포 :
 0    15920
1    13220
Name: voted, dtype: int64

테스트 데이터 분포 :
 0    3998
1    3287
Name: voted, dtype: int64

비슷하게 데이터가 나눠진 것 확인함.

In [128]:
print("X 트레인 : \n",X_train)
print("X 테스트 : \n",X_test)

X 트레인 :
        QaA   QaE  QbA   QbE  QcA   QcE  QdA   QdE  QeA   QeE  ...  wf_03  \
19252  4.0   983  4.0  1310  4.0  1629  4.0  1579  4.0  2344  ...      0
16211  1.0   464  4.0  3670  5.0  2372  4.0  2191  1.0  4393  ...      1
134    5.0  2801  4.0  1436  3.0  7173  2.0  1001  4.0  3295  ...      0
25623  3.0  1084  4.0  1458  1.0   575  3.0  1010  1.0   887  ...      0
13270  1.0  2372  1.0  2404  5.0   535  1.0   582  1.0  6055  ...      0
...    ...   ...  ...   ...  ...   ...  ...   ...  ...   ...  ...    ...
20757  1.0   230  5.0   606  5.0   351  2.0   542  2.0   692  ...      0
32103  1.0   292  4.0   921  1.0   519  2.0   866  1.0   965  ...      0
30403  3.0   700  3.0  1365  2.0   159  3.0  2008  3.0  1298  ...      0
21243  2.0  1576  1.0  2453  1.0   553  2.0  1921  4.0  1409  ...      0
2732   2.0  2555  3.0  1533  5.0  1062  1.0   590  3.0  1803  ...      0

       wr_01  wr_02  wr_03  wr_04  wr_05  wr_06  wr_07  wr_08  wr_09
19252      1      1      0      0      0      0      1      1      0
16211      0      1      1      1      1      1      1      1      0
134        1      1      0      1      1      0      1      1      0
25623      1      1      0      1      1      0      1      1      0
13270      1      1      0      1      1      1      1      1      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
20757      1      1      0      1      1      0      1      1      0
32103      0      1      0      1      1      0      1      1      0
30403      0      1      0      0      1      0      1      1      0
21243      1      1      0      1      1      0      1      1      0
2732       0      1      0      1      0      0      1      1      1

[29140 rows x 72 columns]
X 테스트 :
        QaA  QaE  QbA   QbE  QcA   QcE  QdA   QdE  QeA   QeE  ...  wf_03  \
3021   1.0  632  1.0  1997  1.0  2103  1.0  3908  5.0  3217  ...      0
22012  4.0  628  4.0  1140  4.0  2309  2.0   633  3.0  1035  ...      0
22742  1.0  561  4.0   694  5.0   900  2.0  1078  3.0   887  ...      0
759    2.0  281  2.0  1623  2.0  1202  2.0   850  5.0  1088  ...      0
23790  3.0  588  1.0  2542  1.0  2522  3.0  1916  1.0   297  ...      0
...    ...  ...  ...   ...  ...   ...  ...   ...  ...   ...  ...    ...
12269  1.0  459  5.0  1037  4.0   862  1.0   617  1.0   446  ...      0
8124   5.0  366  5.0  1258  2.0   733  3.0   598  1.0   977  ...      0
457    1.0  736  1.0  2117  1.0  6193  1.0  1544  5.0  3257  ...      0
17205  2.0  864  2.0  3800  4.0   855  2.0   826  2.0  2293  ...      0
25518  4.0  864  1.0   692  2.0  1159  2.0   804  2.0   547  ...      0

       wr_01  wr_02  wr_03  wr_04  wr_05  wr_06  wr_07  wr_08  wr_09
3021       0      0      0      0      0      0      0      1      0
22012      1      1      1      1      1      0      1      1      1
22742      0      1      0      0      0      0      1      1      0
759        1      1      0      0      1      0      1      1      0
23790      0      1      0      1      1      0      1      1      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
12269      1      1      0      1      1      0      1      1      0
8124       0      1      0      1      1      0      1      1      0
457        1      1      1      1      1      0      1      1      0
17205      1      1      0      1      1      0      1      1      0
25518      1      1      0      1      1      0      1      1      1

[7285 rows x 72 columns]